* {
	box-sizing: border-box;
}

:root {
	--color-1: #1e2020;
	--color-2: #ce422b;
	--color-3: #f6eae0;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	background-color: var(--color-3);
}

nav a {
	margin-right: 10px;
	text-decoration: none;
	color: var(--color-1);
	font-size: 20px;
}

nav h2 {
	margin-left: 10px;
}

.error {
	color: var(--color-2);
}
