* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-1: #1e2020;
	--color-2: #ce422b;
	--color-3: #f6eae0;
}

body {
	background: url('./background.png') no-repeat;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	background-color: var(--color-3);
}

nav a {
	margin-right: 10px;
	text-decoration: none;
	color: var(--color-1);
	font-size: 20px;
}

nav h2 {
	margin-left: 10px;
}

.error {
	color: var(--color-2);
}

.stats_page_container {
	width: 80%;
	margin-left: 10%;
	height: calc(100vh - 50px);
	background-color: rgba(255, 255, 255, 0.7);
}

.info {
	display: flex;
	flex-direction: row;
}

.form_search {
	margin-top: 20px;
	width: 60%;
	display: flex;
	margin-left: 20%;
}

.btn {
	width: 100px;
	height: 43px;
	border-radius: 10px;
	background-color: dodgerblue;
	color: #fff;
	border: none;
	font-size: 1.2rem;
	margin-left: 10px;
	cursor: pointer;
}

.form_search input {
	width: 100%;
	height: 43px;
	border-radius: 10px;
	border: 1px solid #ccc;
	font-size: 1.2rem;
	padding: 20px;
}

.info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.name {
	font-size: 1.2rem;
	font-weight: bold;
}

.user-status-0 {
	color: red;
}

.user-status-1 {
	color: green;
}

.info img {
	width: 184px;
	height: 184px;
}

.info p {
	margin-bottom: 10px;
	font-size: 1.1rem;
}

.name-container {
	margin-top: 10px;
	margin-left: 10px;
}

.time_played {
	margin: 10px 2rem 0 0;
}

.time_played p {
	font-size: 1.1rem;
	font-weight: bold;
}

.stats-title {
	text-align: center;
	margin-top: 20px;
}

.stats_page_container {
	display: flex;
	flex-direction: row;
}

.statistics {
	width: 100%;
}

.stats {
	display: flex;
	flex-wrap: wrap;
}

.stats div {
	margin-right: 20px;
	margin-top: 10px;
}

.login-form,
.register-form {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin-left: 20%;
	margin-top: 30px;
	padding: 0 20px;
}

.login-form input,
.register-form input {
	width: 100%;
	padding: 10px;
	outline: none;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.login-form h1,
.register-form h1 {
	text-align: center;
}

.login-form button,
.register-form button {
	margin-top: 10px;
	align-self: center;
}

.logout {
	margin-right: 10px;
	text-decoration: none;
	color: var(--color-1);
	font-size: 20px;
	border: none;
	background: none;
}

.stats p {
	font-size: 1.2rem;
}
